@{
    ViewData["Title"] = "Home Page";
}
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('../images/llama_bg.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="title">Rangemore Llama Farm</h1>
                        <h4>To learn about llamas it helps to understand their natural instincts, domestication, history and modern uses.  This is a personal web site with basic information and links to more in-depth articles.  To learn about llamas is a constant journey which I never tire of.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="container">
                <div class="section text-center section-landing">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">Proud to be a member of the New Zealand Llama Association</h2>
                            <h5 class="description"><img src="~/images/transparent.jpg" style="width: 100%;"/></h5>
                        </div>
                    </div>
                    <div class="features">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon">
                                        <i class="material-icons">event</i>
                                    </div>
                                    <h4 class="info-title">Farm Tours</h4>
                                    <p>Come visit our llamas</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon">
                                        <i class="material-icons">pets</i>
                                    </div>
                                    <h4 class="info-title">Llama Care</h4>
                                    <p>Some quick details on how best to care after a majestic llama</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon">
                                        <i class="material-icons">photo</i>
                                    </div>
                                    <h4 class="info-title">Photo Album</h4>
                                    <p>Llama pics!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon">
                                        <i class="material-icons">book</i>
                                    </div>
                                    <h4 class="info-title">Writings</h4>
                                    <p>Rangemore Llama Farm online diary</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon">
                                        <i class="material-icons">loyalty</i>
                                    </div>
                                    <h4 class="info-title">Llamas for Sale</h4>
                                    <p>Discover the amazing rewards of llama ownership</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info">
                                    <div class="icon">
                                        <i class="material-icons">school</i>
                                    </div>
                                    <h4 class="info-title">Training</h4>
                                    <p>Four methods commonly employed and enjoyed around the world</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section landing-section">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center title">Contact Us</h2>
                            <h4 class="text-center description">Happy to answer any llama questions at any llama time. Just flick me an email on <a href="mailto:julie@llamas.co.nz">julie@llamas.co.nz</a></h4>
                            <!--
                            TODO implement a contact form    
                            
                            <form class="contact-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Your Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Your Email</label>
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Your Messge</label>
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4 text-center">
                                        <button class="btn btn-primary btn-raised">
                                            Send Message
                                        </button>
                                    </div>
                                </div>
                            </form>
                                -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>