@{
    ViewData["Title"] = "Latest News";
}
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../images/llama_news.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Rangemore Llama Farm News</h1>
                    <h4>The best place for all the latest llama news</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="title">January 12th, Saturday</h3>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="title">Kaikohe A & P Show</h3>
                            <h5 class="description">
                                <img src="~/images/jan12.JPG" />
                                <br /><br />
                                Alana, Emmah and Samantha holding Poetry at the Kaikohe A & P Show.
                            </h5>
                        </div>
                        <div class="col-md-4">
                            <h3 class="title">Llama Lookout Icing on the Cake</h3>
                            <h5 class="description">
                                <img src="~/images/jan12_1.JPG" />
                                <br /><br />
                                (Pet name Candy)
                                <br />
                                Girl Born 4:10 p.m. 12th January
                                <br />
                                Gestation 337 days
                                <br />
                                Mother MFLP Brown Sugar
                                <br />                                
                                Father Bellbird Java
                            </h5>
                        </div>
                        <div class="col-md-4">
                            <h3 class="title">Llama Lookout Humbug</h3>
                            <h5 class="description">
                                <img src="~/images/Humbug.JPG" />
                                <br /><br />
                                (black-and-white striped lolly)
                                <br/>
                                Male
                                <br/>
                                9 kgs
                                <br/>
                                3.30pm
                                <br />
                                21/01/2008
                                <br/>
                                Mother MFLP Sweet Georgia Brown
                                <br />
                                Father Bellbird Java
                            </h5>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="title">February 29th</h3>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="title">Leap Year Cria Arrived</h2>
                            <h5 class="description">
                                <img src="~/images/Ediza/Ediza 7-05-08.JPG" />
                                <br /><br />
                                    Introducing our very special leap year llama.
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="description">
                                <img src="~/images/Ediza/birth.JPG" />
                                <br /><br />
                                We had a leap year cria born midday Friday, February the 29th 2008. a couple of more pushes.
                                <br />
                                It wasn't the easiest births as her front left leg was back, by the time Amber had scrubbed up ready to give a hand she was born with a couple of more pushes.
                            </h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="description">
                                <img src="~/images/Ediza/seven.JPG" />
                                <br /><br />
                                Under the careful guidance of the mothers, 16 month old Ediza Rose Morris, visiting from <a href="http://www.experiencellamas.com" target="_blank">LLamas of Circle Home</a> Sonora, California, watched the leap year cria birth, she was also the first person to put a halter and lead on the cria.
                            </h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="description">
                                <img src="~/images/Ediza/babies.JPG" />
                                <br /><br />
                                The mothers (human and llama) are in the background, Amber Morris supervising Ediza and Xquisite Symphony eating Lucerne chaff with her two year old daughter Bubbles.
                                <br />
                                You can read more on the adventures of the Morris family on their blog <a href="http://theendlesssky.blogspot.com/" target="_blank">THE ENDLESS SKY</a>
                            </h5>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-4">
                        <h5 class="description">
                            <img src="~/images/Ediza/one.JPG" />
                            <br /><br />
                            We do like to train them young around here, so start with an easy roping lesson.
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="description">
                            <img src="~/images/Ediza/for.JPG" />
                            <br /><br />
                            After carefully placing the rope in a zigzag position over the cria's back...
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="description">
                            <img src="~/images/Ediza/six.JPG" />
                            <br /><br />
                            And after careful inspection that it is safely placed...
                        </h5>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <h5 class="description">
                            <img src="~/images/Ediza/three.JPG" />
                            <br /><br />
                            It is time for the haltering lesson...
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="description">
                            <img src="~/images/Ediza/to.JPG" />
                            <br /><br />
                            The cria tries indicating Ediza has the halter on the wrong end.
                            <br /><br/>
                            No babies were put in any risk or danger during this encounter, and it wouldn't have been possible without the permission of the very gentle mother llama who was introduced to life in a similar manner.
                            <br />
                            We had already done the routine cares of the cria before the haltering lesson.
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="description">
                            <img src="~/images/Ediza/trying baby.JPG" />
                            <br /><br />
                            Amber had dried the cria with some towels.
                        </h5>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <h5 class="description">
                            <img src="~/images/Ediza/iodine.JPG" />
                            <br /><br />
                            Tracy had protected the umbilical cord against infection by dipping it in an iodine based solution. 
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="description">
                            <img src="~/images/Ediza/weigh.JPG" />
                            <br /><br />
                            We weighed the cria using bathroom scales with Peter weighing himself and then again holding the cria. We will then weigh every two or three days over the next couple of weeks to make sure she is increasing in weight.
                            <br />
                            Sorry, wrong baby.
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h5 class="description">
                            <img src="~/images/Ediza/milk.JPG" />
                            <br /><br />
                            Amber checks the teats to remove the wax plugs and made sure they have milk.
                            <br />
                            We also made sure that the cria could latch onto the teats and was sucking.
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="description">
                            Welcome to...<br />
                            <img src="~/images/Ediza/leap cria.JPG" />
                            </h3>
                        <h5 class="description">
                            Rangemore Kakophony Ediza
                            <br />
                            (we will call her Ediza)
                            <br />
                            Mother: Rangemore Xquisite Symphony
                            <br />
                            Father: MFLP Pirate Ring
                            <br />
                            Weight: 11kgs
                            <br />
                            Gestation: 351 days
                            <br />
                            Time: 12 o'clock
                            <br />
                            DOB: 29 February 2008
                        </h5>
</div>
                </div>

                </div>
            </div>
        </div>
    </div>