@{
    ViewData["Title"] = "What's Happening";
}
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../images/whatshappening.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Rangemore Llama Farm</h1>
                    <h2>What's Happening?</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="description">
                            <img src="~/images/website won.JPG" />
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <h3 class="title">We are still open to the public on a casual basis but not actively advertising</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="title">Birthday Calendar's For Sale</h3>
                        <h5 class="description">
                            At last, a calendar that you don’t have to throw out at the end of every year!
                            Ever forgotten someone's birthday?
                            Well, here is the remedy.
                            This calendar can be used to record the birthdays of family, friends, and all your pets!
                            These will last for years - just write the name once, then always remember the day.
                            14 High quality, beautiful photographs of New Zealand llamas. We have used a high grade card and wire binding for longevity.
                            $18 free postage within New Zealand
                            Contact NZLA Secretary <a href="mailto:info@llamas.org.nz">info@llamas.org.nz</a><br /><br />
                            <img src="~/images/birthday calendar  front  A.jpg" />
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>