@{
    ViewData["Title"] = "Why Llama";
}
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../images/whyllama.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Rangemore Llama Farm</h1>
                    <h2 class="subtitle">Why lama</h2> <h4 class="subtitle-small"> or more specifically</h4> <h2 class="subtitle">why Llama?</h2>
                       <h4>Of the genus lama of which there are four;
                         alpaca, guanaco, vicuna and the (double L) llama,
                         it is the last which is my particular passion.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1>Why llamas?</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <h5 class="description">
                            because
                            whether you're our 8 year old
                            neighbour Evan, or my 88 year old
                            Grandma Violet McKenzie,
                            everyone enjoys greeting
                            the newest cria.<br /><br />
                            <img src="~/images/families.jpg" />
                        </h5>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <h5 class="description">
                            with their gentle nature, inquisitive  curiosity, intelligence and willingness to please -  making them endearing companions - who can resist.
                            <br /><br />
                            <img src="~/images/bird.jpg" />
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <h5 class="description">
                            kids are
                            drawn like magnets, teaching
                            them sensitivity and responsibility.
                            <br /><br />
                            <img src="~/images/cuddles.jpg" />
                        </h5>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <h5 class="description">
                            their practical
                            uses such as driving can be
                            put to work at weddings,
                            fairs, parades and simply for enjoyment.
                            <br /><br />
                            <img src="~/images/Copy_of_cart.jpg" />
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <h5 class="description">
                            easy care,
                            low maintenance and easily trained
                            to tasks like toenail-clipping.
                            <a href="http://www.rockisland.com/~newmoon/llamas/health.html">Llama and Alpaca Health</a>
                            <br /><br />
                            <img src="~/images/MM_nail.jpg" />
                        </h5>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <h5 class="description">
                            their
                            natural respect for personal
                            space, makes them safe
                            around those less abled.
                            <br />
                            Rosa meets Indigo Chief.
                            <br /><br />
                            <img src="~/images/Rosa.jpg" />
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <h5 class="description">
                            with options
                            such as spinning, weaving
                            and felting with
                            one of the world's finest fibres.
                            The seasonal shearing from
                            Ardcree Chieftan can provide
                            an added bonus.
                            <br /><br />
                            <img src="~/images/Chieftain_fibre.jpg" />
                        </h5>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <h5 class="description">
                            whether
                            planning an assault on
                            Mount Cook (N.Z's largest
                            mountain) or a walk down
                            the road for oranges,
                            get the llama do
                            the carrying.
                            <br /><br />
                            <img src="~/images/Dalai_pack.JPG" />
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h5 class="description">
                            their beauty,
                            their understanding,
                            their compassion
                            & their loyalty
                            just make you want
                            to provide them a
                            loving home.
                            <br /><br />
                            <img src="~/images/1Fantom.jpg" />
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>